<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Visit WRHS</title>
<link href='http://fonts.googleapis.com/css?family=Bree+Serif%7COpen+Sans:400,300,700' rel='stylesheet' type='text/css'>

<link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- <link rel="stylesheet" href="assets/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/style.css" media="screen" data-name="skins">
<link rel="stylesheet" type="text/css" href="assets/allstyle.css"> -->

<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'allstyle' %>
<%= stylesheet_link_tag 'stylesheets/font-awesome.min' %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'modernizr' %>
<%= javascript_include_tag 'jQuery.themepunch.revolution' %>
<!-- [if lt IE 9]>
    	<script src="http://css3-mediaqueries-assets/.googlecode.com/svn/trunk/css3-mediaqueries.assets/"></script>
<![endif] -->
<!-- <script type="text/javascript" src="assets/jquery.js/"></script>
<script type="text/javascript" src="assets/modernizr.js/"></script> -->
<script type="text/javascript" src="http://maps.google.com/maps/api/assets/?sensor=false"></script>
<script type="text/javascript" src="assets/jquery.gmap.js/"></script>
  <script src="//platform.twitter.com/widgets.js"></script>
</head>
<body class="stretched">
    <!--Stretched = full width, boxed = boxed with background -->
<div id="wrapper" class="clearfix">
  <div id="top-bar"> </div>
  <div class="cbp-af-header">
    <div class="cbp-af-inner">
      <div id="header">
        <div class="container clearfix">
          <div id="logo"> <a href="Browns-Home.html"><%= image_tag "logo-BTL.jpg" %></a> </div>
          <div class="social-sec"> <a class="tw" href="https://twitter.com/search?f=realtime&q=%2364browns&src=typd" target="blank"></a> <a class="fb" href="https://www.facebook.com/WRHistoricalSociety" target="blank"></a>  <a class="v" href="https://www.youtube.com/watch?v=vGQai2yKdKg" target="blank"></a> </div>
          <a href="#" class="openmenu"><i class="fa fa-bars"></i></a>
          <script>
      $(document).ready(function(){
"use strict";
      $('a.openmenu').on('click',function(){
         $(".closed").toggleClass('opened');
      });
 });
</script>
          <div id="primary-menu" class="menu closed">
            <ul class="menu">
              <li><%= link_to 'Home', controller: 'welcome' %>
              </li>
<!--               <li><a href="Browns-About.html" > About the Exhibit</a>
              </li> -->
<!--               <li><a href="Browns-Portfolio.html" > Players' Thoughts</a>
              </li>
              <li><a href="Browns-Blog.html" >What's New</a>
              </li> -->
              <li><%= link_to 'Visit', controller: 'visit' %>
              </li>
              <li><%= link_to 'Get Involved', controller: 'involved' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="page-title">
      <div id="title-inner">
        <div class="container clearfix">
          <h1>Visit Us<span></span></h1>
        </div>
      </div>
      <div class="shadow-sec"></div>
    </div>
    <div class="content-wrap">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- ============================================
                            AJAX Contact Form
                        ============================================= -->
          <div id="contact-form-container">
            <h3>Museum Hours<span>&nbsp;</span></h3>
              <ul class="star-bul">
                <li>Monday: CLOSED</li>
                <li>Tuesday-Saturday: 10:00 am - 5:00 pm</li>
                <li>Sunday: 12:00 pm - 5:00 pm</li>
                  </ul>
                  
                  <h3> Admission Costs</h3>
                  <ul class="star-bul">
                    <li>WRHS Members: Free</li>
                    <li>Active Military (with ID): Free</li>
                    <li>Adult: $10.00</li>
                    <li>Senior (ages 62+): $9.00</li>
                    <li>Children (age 3-12): $5.00</li>
                    <li>Children 2 and under: Free</li>
                      </ul>
              <p>Group Rates are available for 12+ people. </p>
          </div>
        </div>
        
        <div class="col_half entry_content col_last nobottommargin">
          <div style="height: 250px">
          <a href="https://www.google.com/maps/place/Western+Reserve+Historical+Society/@41.513508,-81.610474,17z/data=!4m2!3m1!1s0x0:0xf5c494a51fc2c946?hl=en" target="_blank"><%= image_tag "wrhs-map.png" %></a>
            <!--<div id="google-map"></div>
    <script type="text/javascript">
                            $('#google-map').gMap({
                                
                                 address: '10825 East Boulevard, Cleveland, Ohio 44106 ',
                                 maptype: 'ROADMAP',
                                 zoom: 16,
                                 markers: [
                                    {
                                        address: "10825 East Boulevard, Cleveland, Ohio 44106 "
                                    }
                                 ],
                                 doubleclickzoom: true,
                                 controls: {
                                     panControl: true,
                                     zoomControl: true,
                                     mapTypeControl: true,
                                     scaleControl: false,
                                     streetViewControl: false,
                                     overviewMapControl: false
                                 }
                            
                            });
                            
                            </script>
          </div>-->
            <!--Second Column Start -->
          <div class="col_half">
            <div class="product-feature cont">
              <h3>History Center</h3>
              <p>10825 East Boulevard<br />
               Cleveland, Ohio 44106 <br />
                </p>
            </div>
          </div>
          <div class="col_half col_last">
            <div class="product-feature cont">
              <h3>Call Us</h3>
              <p>(216) 721-5722 <br />
                </p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="col_half nobottommargin">
            <div class="product-feature cont">
              <h3>Email Us</h3>
              <p>contact@wrhs.org <br />
                info@lufthouse.com</p>
            </div>
          </div>
          <div class="col_half col_last nobottommargin">
            <div class="product-feature cont">
              <h3>Make Your Reservation</h3>
              <p>sales@wrhs.org<p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     <div id="footer" class="footer-dark">
      <div class="topouther">
        <div class="container clearfix">
          <div class="col_two_third">
            <div class="home-left"><i class="fa fa-home"></i><span>10825 East Boulevard, Cleveland, OH</span></div>
            <div class="no-mid"><i class="fa fa-mobile"></i><span>(216) 721-5722</span></div>
            <div class="msg-right"><i class="fa fa-envelope-o"></i><span><a href="mailto:contact@wrhs.org" target="blank">contact@wrhs.org</a></span></div>
          </div>
          <div class="col_one_third col_last mar-bot0">
            <div class="social-icons"> <a class="tw" href="https://twitter.com/search?f=realtime&q=%2364browns&src=typd" target="blank"></a> <a class="fb" href="https://www.facebook.com/WRHistoricalSociety" target="blank"></a>  <a class="vi" href="https://www.youtube.com/watch?v=vGQai2yKdKg" target="blank"></a> </div>
              <!--Vimeo link is stand in - used Lufthouse channel-->
          </div>
        </div>
      </div>
      <div class="footer-bg">
        <div class="container clearfix">
          <div class="footer-widgets-wrap clearfix">
            <div class="col_one_fourth">
              <div class="widget clearfix">
                <h4>Newsletter</h4>
                <div class="left-newsletter clearfix">
                  <p> Interested in receiving email updates? Sign up below! </p>
                  <input name="" type="text" placeholder="Type Email" class="email-type">
                  <input name="Sign Up" type="submit" class="signup" value="Sign Up" >
                </div>
              </div>
            </div>
            <div class="col_one_fourth">
              <div class="widget widget_links clearfix">
                <h4 class="widget-title">Latest Tweets</h4>
                <div class="latest-tw clearfix">
                  <div class="twitterdiv">
<!--                   <a class="twitter-timeline" href="https://twitter.com/hashtag/64browns" data-widget-id="505422366466273280">#64browns Tweets</a> -->
                  <a class="twitter-timeline" 
                    href="https://twitter.com/twitterapi" 
                    data-widget-id="505422366466273280">Tweets about #64browns</a>
                    <script> $ ->
                      twttr.ready ->
                        renderTimelines()
                        $(document).on 'page:change', renderTimelines

                    renderTimelines = ->
                      $('.twitter-timeline-container').each ->
                        $container = $(this)
                        widgetId = $container.data 'widget-id'
                        widgetOptions = $container.data 'widget-options'

                        $container.empty()
                        twttr?.widgets.createTimeline widgetId, $container[0], null, widgetOptions</script>
                  </div>
                </div>
              </div>
            </div>
<!--        <div class="col_one_fourth">
              <div id="flickr_widget-1" class="widget latestpost clearfix">
                <h4 class="widget-title">Latest Post </h4>
                <div class="post-bg clearfix">
                  <div class="left-img"><img src="assets/footerimg.jpg" alt=""></div>
                  <div class="right-txt">
                    <p> <a href="#">Interesting words and stuff if we end up doing a blog</a> </p>
                  </div>
                </div>
                <div class="post-bg clearfix">
                  <div class="left-img"><img src="assets/footerimg2.jpg" alt=""></div>
                  <div class="right-txt">
                    <p> <a href="#">Could be used for "latest news" things</a> </p>
                  </div>
                </div> -->
          <!--     </div> -->
         <!--    </div> -->
            <div class="col_one_fourth">
              <div class="widget flickr-widget clearfix">
                <h4>About the Technology</h4>
                <div id="flickr_widget" class="flickrfeed">
                 <p>Questions about the site? Contact info@lufthouse.com.</p>
                 <p>Want to know more about the app? Visit the website by clicking the logo below!</p>
                 <a href="http://www.lufthouse.com" target="_blank"><%= image_tag "lufthouse_white.png"%></a></div>
              </div>
            </div>
<!--           </div>
        </div> -->
      </div>
    </div>
    <div class="clear"></div>
    <div id="copyrights" class="copyrights-dark">
      <div class="container clearfix">
        <div class="col_half"> Copyright 2012 - Lufthouse, Inc. </div>
        <div class="col_half col_last tright"> Made by <a href="www.lufthouse.com">Lufthouse, Inc.</a>  </div>
      </div>
    </div>
  </div>
  <div id="gotoTop" class="fa fa-angle-up"></div>
</div>
  <div id="gotoTop" class="fa fa-angle-up"></div>
</div>
<script type="text/javascript" src="assets/plugins.js/"></script>
<script type="text/javascript" src="assets/custom.js/"></script>
<script src="assets/sticky-header.js/"></script>
<script type="text/javascript" src="assets/jquery.cookie.js/"></script>
<script type="text/javascript" src="assets/styleswitch.js/"></script>
<div class="switcher"></div>
</body>
</html>
